{% extends "layout.html.twig" %}

{% block pageTitle %}Error{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>Error</h1>
        <p>Whoops! There was an error, take a look:</p>
        <p>{{ message }}</p>
    </div>
{% endblock %}